.clear { clear: both;}
.hidden { visibility: hidden; }

::selection {
	background: transparent;
}

* { box-sizing: border-box }

body {
	background: #191e35 url(../img/background.jpg) no-repeat left top;
	font-family:  "Myriad Pro", Arial;
	width: 1920px;
	height: 1080px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

header {
	padding: 50px 100px 50px 100px;
}

h1 {
	font-family: "Myriad Pro Light", Arial;
	font-weight: 300;
	font-size: 148px;
	color: rgba(73, 106, 255, 0.2);
	margin: -27px 0 0 0;
}

h2 {
	top: -105px;
	color: #fff;
	line-height: 80px;
	z-index: 3;
	position: relative;
	margin: 0 0 0 390px;
	font-family: "Myriad Pro Light", Arial;
	font-weight: normal;
	font-size: 64px;
}

.button {
	display: inline-block;
	text-transform: uppercase;
	font-size: 34px;
	text-decoration: none;
	padding: 20px 50px;
	background: linear-gradient(to bottom, #33487d 0%, #1a1f36 100%); /* W3C */
	background: -webkit-linear-gradient(top, #33487d 0%, #1a1f36 100%); /* Chrome10+,Safari5.1+ */	
	color: #95caff;
	position: relative;
	z-index: 101;
}

.button:active {
	background: #133d84;
}

.button.green {
	color: #fff;
	background: #37a600;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.button.green:active {
	background: linear-gradient(to bottom, #1e5a00 0%,#37a600 100%); /* W3C */
	background: -webkit-linear-gradient(top, #1e5a00 0%,#37a600 100%); /* Chrome 10+, Safari 5.1+ */
}

/* Scene 1 */
.scene1 h2 {
	font-family: "Myriad Pro Light", Arial;
	font-weight: 600;
	font-size: 80px;
	letter-spacing: -4px;
}


#slider {
	position: absolute;
	bottom: 0;
	left: 0;
}

#slider article {
	position: relative;
	height: 925px;
}

#slider img {
	position: absolute;
	bottom: 0;
	left: 35px;
	z-index: 2;
}

#slider-control {
	position: absolute;
	bottom: 80px;
	left: 860px;
	z-index: 101;
}

#slider-control li {
	float: left;
	margin-right: 15px;
}


#slider-control li a {
	display: block;
	height: 36px;
	width: 36px;
	text-indent: -9999px;
	background: transparent url('../img/slider-pager.png') no-repeat center center;
}

#slider-control li.cycle-pager-active a {
	background-image: url('../img/slider-pager-active.png') !important;
}

#proceed {
	position: absolute;
	bottom: 50px;
	right: 250px;
}

#nav {
	position: absolute;
	bottom: 50px;
	left: 100px;
	margin: 0;
	padding: 0;
}

#nav li {
	list-style-type: none;
	display: inline;
	margin-right: 20px;
}

section h3, section p {
	margin: 0;
}

.steps {
	position: absolute;
	top: -100px;
	left: 320px;
	letter-spacing: 0;
}

.step-detail {
	text-align: left;
	position: absolute;
	top: -25px;
	left: 25px;
	width: 1110px;
}

.step-detail li {
	text-align: left;
	list-style-type: none;
	display: inline-block;
	font-family: "Myriad Pro Light", Arial;
	font-weight: normal;	
	font-size: 28px;
	width: 348px;
}

.step-detail {
	color: #fff;
}

.step-detail .inactive {
	color: #31449a;
}

.scene3 .step-detail {
	color: #31449a;
}

.badge {
	position: absolute;
	top: 35px;
	left: -75px;
	z-index: 4;
}

.badge.small {
	position: absolute;
	top: 35px;
	left: -35px;
}


/* Scene 2 */

.scene2 section {
	width: 1430px;
	margin: 0 auto;
	position: relative;
	top: -120px;
}

.scene2 article {
	position: relative;
	float: left;
	width: 420px;
	margin-right: 85px;
	color: #133d84;
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0d3e5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d0d3e5 100%); /* W3C */	
	min-height: 425px;
	border-radius: 10px;
	padding: 75px 30px 15px 85px;
}

.scene2 article:last-child {
	margin-right: 0;
}

.scene2 article .badge {
	position: absolute;
	top: 35px;
	left: -75px;
}

.scene2 article dt {
	font-family: "Myriad Pro Light", Arial;
	font-weight: 600;
	font-size: 36px;
	letter-spacing: -2px;
	min-height: 100px;
}

.scene2 article dd {
	font-family: "Myriad Pro Light", Arial;
	font-weight: normal;
	font-size: 25px;	
	line-height: 50px;
	margin: 0;
	display: list-item;
	margin-left: 25px;
}

/* Scene 3 */

.scene3 section {
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0d3e5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d0d3e5 100%); /* W3C */	
	min-height: 400px;
	border-radius: 10px;
	width: 1430px;
	margin: 0 auto;
	position: relative;
	top: -40px;
	font-family: "Myriad Pro Light", Arial;
	font-weight: normal;
	font-size: 48px;	
	color: #00224d;
}

.scene3 section:before {
	content: ' ';
	border: solid transparent;
	border-width: 10px;
	border-bottom-color: #fff;
	height: 0;
	left: 350px;
	position: absolute;
	width: 0;
	top: -17px;
}

.scene3.screen1 section {
	text-align: center;
	padding: 95px 0 55px 0;
}

.scene3.screen1 figure {
	margin-bottom: 65px;
}

.scene3.screen1 figure img {
	vertical-align: top;
}

.scene3.screen2 section {
	padding: 20px 40px 30px 40px;
	color: #333;
}

.scene3.screen2 h3 {
	font-size: 43px;
	color: #003981;
	font-weight: normal;
	margin-bottom: 15px;
}

.scene3.screen2 h3 strong {
	font-family: "Myriad Pro Light", Arial;
	font-weight: 600;
}

.scene3.screen2 h3 em {
	font-variant: italic;
}

.scene3.screen2 h4 {
	font-family: "New Caledonia LT Std";
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
	margin: 0;
}

.scene3.screen2 article {
	float: left;
	margin-right: 20px;
	font-size: 24px;
}

.scene3.screen2 article figure {
	margin-bottom: 15px;
}

.scene3.screen2 article figure img {
	vertical-align: top;
}

.scene3.screen2 article.image1 {
	width: 305px;
}

.scene3.screen2 article.image2 {
	width: 545px;
}

.scene3.screen2 article.image3 {
	width: 445px;
	margin-right: 0px;
}

/* Scene 4 */

.scene4 section {
	position: relative;
	width: 1430px;
	margin: 0 auto;
	position: relative;
	top: -40px;
	font-family: "Myriad Pro Light", Arial;
	font-weight: normal;
	font-size: 48px;	
	color: #133d84;
}

.scene4 section:before {
	content: ' ';
	border: solid transparent;
	border-width: 10px;
	border-bottom-color: #fff;
	height: 0;
	left: 710px;
	position: absolute;
	width: 0;
	top: -17px;
}

.scene4 article {
	width: 850px;
	margin: 0 auto;
	position: relative;
	color: #133d84;
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0d3e5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d0d3e5 100%); /* W3C */	
	min-height: 400px;
	border-radius: 10px;
	padding: 35px 0 40px 0;
}

.scene4 p {
	margin: 0;
}

.scene4 aside {
	position: absolute;
	top: 349px;
	left: 254px;
	height: 507px;
	background: -webkit-linear-gradient(top, #ffffff 50%,#d0d3e5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 50%,#d0d3e5 100%); /* W3C */
	width: 290px;
	padding: 35px 35px 40px 35px;
	color: #333;
	font-size: 24px;
	-webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}

.scene4 aside .time {
	color: #003981;
	text-align: center;
	font-family: "Myriad Pro Light", Arial;
	font-weight: 600;
	font-style: italic;
	font-size: 72px;
	margin-bottom: 70px;
}

.scene4 aside .time sup {
	font-size: 30px;
	vertical-align: 15px;
}

.scene4 aside .label.time {
	position: absolute;
	top: 85px;
	left: 140px;
}

.scene4 .status {
	position: absolute;
	bottom: 60px;
	left: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Myriad Pro Light Cond", Arial;
	font-weight: 600;
}

.scene4 .status img {
	vertical-align: middle;
	margin-right: 5px;
}

.scene4 .stop {
	position: absolute;
	top: 160px;
	right: -55px;
	background: transparent url('../img/stop.png') no-repeat top right;
	height: 179px;
	width: 180px;
	text-indent: -9999px;
}

.scene4 .stop:active {
	background-image: url('../img/stop-pressed.png');

}

.scene4 .store {
	position: absolute;
	top: 160px;
	right: -55px;
	background: transparent url('../img/store.png') no-repeat top right;
	height: 179px;
	width: 180px;
	text-indent: -9999px;
}

.scene4 .store:active {
	background-image: url('../img/store-pressed.png');
}

.scene4 .back {
	position: absolute;
	bottom: -43px;
	right: 340px;
	background: transparent url('../img/back.png') no-repeat top right;
	height: 190px;
	width: 183px;
	text-indent: -9999px;
}

.scene4 .back:active {
	background-image: url('../img/back-pressed.png');
}

.scene4 .record {
	position: absolute;
	bottom: -43px;
	right: -55px;
	background: transparent url('../img/record.png') no-repeat top right;
	height: 190px;
	width: 183px;
	text-indent: -9999px;
}

.scene4 .record:active {
	background-image: url('../img/record-pressed.png');
}

.scene4 .record.red {
	top: 160px;
	right: -55px;
	background: transparent url('../img/record-red.png') no-repeat top right;
}

.scene4 .record.red:active {
	background: transparent url('../img/record-red-pressed.png') no-repeat top right;
}

.scene4 .progress-bar {
	height: 13px;
	position: absolute;
	bottom: 15px;
	left: 40px;
	background: #a8b5d5;
	width: 700px;
}

.scene4 .progress-bar span {
	display: block;
	height: 100%;
	background-color: rgb(43,194,83);
	position: relative;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #ffa3ad 0%,#ffa3ad 48%,#f77785 50%,#e20820 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffa3ad 0%,#ffa3ad 48%,#f77785 50%,#e20820 100%); /* W3C */
}

.scene4 .progress-bar.replay span {
	background: -webkit-linear-gradient(top, #6de751 0%,#6de751 50%,#3fb925 51%,#1d9605 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #6de751 0%,#6de751 50%,#3fb925 51%,#1d9605 100%); /* W3C */
}

.scene4 .badge.small {
	left: 255px;
}

.scene4 .video {
	width: 768px;
	height: 432px;
	margin: 0 auto;
}

.scene4 .playback {
	position: absolute;
	bottom: 9px;
	right: 39px;
	font-size: 24px;
	font-family: "Myriad Pro Light Cond", Arial;
	font-weight: 500;	
	text-shadow: 0px 1px 0px #9d9fac;
}

.scene4 .playback.stopped {
	text-transform: uppercase;
}

.scene4 .stored {
	position: absolute;
	top: 215px;
	left: 0;
	width: 100%;
	font-size: 40px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: "Myriad Pro Light Cond", Arial;
	font-weight: 500;	
	text-shadow: 0px 2px 0px rgba(0,0,0, 0.5);
}

.scene4 .stored img {
	vertical-align: -10px;
}

.scene4 .vidcountdown3 {
    position: absolute;
    top: 185px;
    left: 365px;
    height: 123px;
    width: 123px;
    background: transparent url('../img/COUNT_DOWN_IMAGE_03.png') no-repeat top right;
}

.scene4 .vidcountdown2 {
    position: absolute;
    top: 185px;
    left: 365px;
    height: 123px;
    width: 123px;
    background: transparent url('../img/COUNT_DOWN_IMAGE_02.png') no-repeat top right;
}

.scene4 .vidcountdown1 {
    position: absolute;
    top: 185px;
    left: 365px;
    height: 123px;
    width: 123px;
    background: transparent url('../img/COUNT_DOWN_IMAGE_01.png') no-repeat top right;
}

.scene4 .vidcountdown0 {
    position: absolute;
    top: 185px;
    left: 365px;
    height: 123px;
    width: 123px;
    background: transparent url('../img/COUNT_DOWN_IMAGE_00.png') no-repeat top right;
}
/* Scene 5 */

.scene5 section {
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0d3e5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d0d3e5 100%); /* W3C */	
	min-height: 400px;
	border-radius: 10px;
	width: 1430px;
	margin: 0 auto;
	position: relative;
	top: -40px;
	font-family: "Myriad Pro Light", Arial;
	font-weight: normal;
	font-size: 48px;	
	color: #133d84;
}

.scene5 section:before {
	content: ' ';
	border: solid transparent;
	border-width: 10px;
	border-bottom-color: #fff;
	height: 0;
	left: 1068px;
	position: absolute;
	width: 0;
	top: -17px;
}

.scene5.screen1 section {
	text-align: center;
	padding: 35px 0 50px 0;
	letter-spacing: -2px;
	color: #00224d;
}

.scene5.screen1 figure {
	margin-bottom: 35px;
}

.scene5.screen1 figure img {
	vertical-align: top;
}

.scene5.screen2 section {
	padding: 45px 35px 35px 70px;
	color: #333;
}

.scene5.screen2 figure {
	float: right;
	width: 655px;
	margin-left: 80px;
}

.scene5.screen2 h3 {
	font-size: 43px;
	color: #003981;
	font-family: "Myriad Pro Light", Arial;
	font-weight: 600;
	letter-spacing: -2px;
	margin-bottom: 40px;
}

.scene5.screen2 p {
	font-size: 30px;
	font-family: "Myriad Pro Light", Arial;
	line-height: 40px;
}

.scene5.screen2 .intro {
	font-size: 42px;
	letter-spacing: -2px;
	line-height: 48px;
	margin-bottom: 20px;
	font-family: "New Caledonia LT Std";
	font-style: italic;
}

.scene5.screen2 .end {
	margin-top: 15px;
	text-align: center;
	font-size: 48px;
	font-family: "New Caledonia LT Std";
	font-style: italic;	
}

#dialog{
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0d3e5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 0%,#d0d3e5 100%); /* W3C */	
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}
#dialog h3{
	color:#133d84;
	font-size: 60px;
	letter-spacing: -3px;
	margin-left: 85px;
	padding: 0;
}
#dialog p{
	color:#133d84;
	font-size: 30px;
	line-height: 60px;
	margin-left: 85px;
	width: 620px;
	position: relative;
	top:-30px;
}
#dialog .button{
	position: relative;
	top: 26px;
	left: 348px;
}
#close-dialog{
	height: 65px;
	background: url(../img/close.png) right no-repeat;
	float: right;
	clear: left;
	margin-right:20px;
	padding-right: 63px;
}
#close-dialog span{
	line-height: 65px;
	font-size: 15px;
}
#counter{
	color:#133d84;
	width:262px;
	height:307px;
	background: url(../img/counter.png) no-repeat;
	position: absolute;
	top:126px;
	left:754px;
	font-size: 123px;
	text-align: center;
	padding-top:45px; 
}
